{% extends "base.html" %}

{% block content %}

<div class="post-entry">
  <h2>{{ post.title }}</h2>
  <p>{{ post.body }}</p>
</div>

<div class="comments">
  <h2>Комментарии</h2>
  {% for comment in post.comment_set.all %}
  <b>{{ comment.name }}</b> написал <b>{{ comment.created_on|timesince }} назад</b>
  <p>{{ comment.comment }}</p>
  {% empty %}
  <p>Feel free to leave the first comment!</p>
  {% endfor %}
</div>

<form action="" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Save">
</form>

<p><a href="{% url 'post_edit' post.pk %}">Редактировать</a></p>
<p><a href="{% url 'post_delete' post.pk %}">Удалить</a></p>

{% endblock content %}
